@import '../nullStyle/index.scss';
@import '../footer/index.scss';
@import '../special-offers-card/index.scss';
@import '../slider/index.scss';

*{
    font-family: "Montserrat", sans-serif;
}
#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1180px; 
    margin: 0 auto;
    padding: 0px 5px 0px 5px;
}


.main{
    flex: 1;
}

.main__search-bar{
    position: relative;
}

.main__banner{
    margin-top: 71px;
}

.section-why-choose-us__content{
    padding-bottom: 74px;
}

.section-why-choose-us{
    background-color: #F7F7F7;
    margin-top: 139px;
}

.section-why-choose-us__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-why-choose-us__taitel{
    margin-top: 66px;
    font-weight: 600;
    font-size: 40px;
}

.section-why-choose-us__description{
    max-width: 570px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.section-why-choose-us__cards-why-choose-us{
    margin-top: 54px;
}

.section-why-choose-us__cards-why-choose-us{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;
}

.cards-why-choose-us__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-why-choose-us__icon-conteiner{
    background-color: #2a90d9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-why-choose-us__taitel{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
}

.cards-why-choose-us__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    text-align: center;
}

.section-special-offers__taitel{
    margin-top: 96px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.section-special-offers__cards-conteiner{
    margin-top: 60px;
}