.section-slider{
    margin-top: 132px;
}

.section-slider__taitel{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.section-slider__slider{
    margin-top: 60px;
}